<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<form action="/calculateproduct">
    Mobile:<input type="text" id="mobile" name="mobile" placeholder="Enter Mobile price"><br><br>
    Laptop:<input type="text" id="laptop" name="laptop" placeholder="Enter Laptop price"><br><br>
    Keyboard:<input type="text" id="keyboard" name="keyboard" placeholder="Enter Keyboard price"><br><br>
    Mouse:<input type="text" id="mouse" name="mouse" placeholder="Enter Mouse price"><br><br>
    <input type="submit" value="Calculate product price"><br><br>
</form>
</body>
</html>