<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django | Home Page</title>
</head>
<body>
<h1 style="color:green;text-align:center">This is Django First Web App</h1>
<p style="color:pink;text-align:center">Welcome to All!</p>
<h2 style="color:blue;text-align:center">If you're new Please <a href="register/">Register Here</a></h2>
<h2 style="color:red;text-align:center">Login Django App <a href="login/">Login Here</a></h2>
<h2 style="color:grey;text-align:center">IPL Table 2023 <a href="ipl/">Click Here</a></h2>
<h2 style="color:orange;text-align:center">Calculate product price<a href="product/">Click Here</a></h2>
<h2 style="color:purple;text-align:center">View DB tables<a href="admin/">Click Here</a></h2>
<h2 style="color:brown;text-align:center">CRUD Employee Registration Details<a href="curd/empInfo">Click Here</a></h2>
</body>
</html>
