<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django | Register Page</title>
</head>
<body>
FirstName<input type="text" placeholder="Enter FirstName"><br><br>
LastName<input type="text" placeholder="Enter LastName"><br><br>
Email<input type="text" placeholder="Enter Email address"><br><br>
Password<input type="text" placeholder="Enter Password"><br><br>
Confirm Password<input type="text" placeholder="Enter Confirm-Password"><br><br>
DOB<input type="text" placeholder="Enter DOb"><br><br>
<input type="submit" value="Register"><br><br>

</body>
</html>